<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="public/css/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/index.css">
  <title>La casa de Um Real</title>
</head>
<body>
  <header>
    <div class="center">
      <div class="logo">
        <h1>La casa de Um Real</h1>
      </div><!--Logo-->
      <div class="menu">
        <a href="index.html">Página inicial</a> 
        <a href="login.html">Login</a>
        <a href="cadastro_novo.html">Faça seu cadastro</a>
        <a href="sobre_nos.html">Sobre Nós</a>
      </div><!--Menu-->
    </div><!--Center-->
  </header>
  <div class="container">    
    <div class="center">
      <div class="container-a">
        <p>Seja bem vindo a La casa de Um Real!!</p>
      </div><!--Status-->
      <div class="status-baixo">
        <div class="status">
          <i class="cadastrar-produto"></i>
          <h2>Cadastrar Produtos</h2>
          <p>Cadastre seus produtos.</p>
          <a href="cadastra_produtos.html">Clique aqui</a>
        </div><!--Status-->
        <div class="status">
          <i class="consultar-produtos"></i>
          <h2>Consultar Produtos</h2>
          <p>Consulte os produtos cadastrados.</p>
          <a href="consultar.html">Clique aqui</a>
        </div><!--Status-->
        <div class="status">
            <i class="deletar-produtos"></i>
            <h2>Consultar Produtos</h2>
            <p>Delete os produtos que você não fornecerá mais.</p>
            <a href="deletar.html">Clique aqui</a>
          </div><!--Status-->
          <div class="status">
            <i class="consultar-produtos"></i>
            <h2>Consultar Produtos</h2>
            <p>Consulte aqui os produtos cadastrados.</p>
            <a href="consultar.html">Clique aqui</a>
          </div><!--Status-->
      </div><!--Status-baixo-->
    </div><!--Center-->
  </div><!--Container-->
</body>
</html>
